/* cyrillic-ext */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 100 800;
    font-optical-sizing: auto;
    src: url('/fonts/JetBrainsMono-Italic[wght].woff2') format('woff2');
  }
  /* cyrillic */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 100 800;
    font-optical-sizing: auto;
    src: url('/fonts/JetBrainsMono-Italic[wght].woff2') format('woff2');
  }
  /* greek */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 100 800;
    font-optical-sizing: auto;
    src: url('/fonts/JetBrainsMono-Italic[wght].woff2') format('woff2');
  }
  /* vietnamese */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 100 800;
    font-optical-sizing: auto;
    src: url('/fonts/JetBrainsMono-Italic[wght].woff2') format('woff2');
  }
  /* latin-ext */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 100 800;
    font-optical-sizing: auto;
    src: url('/fonts/JetBrainsMono-Italic[wght].woff2') format('woff2');
  }
  /* latin */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 100 800;
    font-optical-sizing: auto;
    src: url('/fonts/JetBrainsMono-Italic[wght].woff2') format('woff2');
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100 800;
    font-optical-sizing: auto;
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  }
  /* cyrillic */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100 800;
    font-optical-sizing: auto;
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  }
  /* greek */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100 800;
    font-optical-sizing: auto;
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  }
  /* vietnamese */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100 800;
    font-optical-sizing: auto;
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  }
  /* latin-ext */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100 800;
    font-optical-sizing: auto;
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  }
  /* latin */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100 800;
    font-optical-sizing: auto;
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  }
  